<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/2.css' %}">
    {% endblock css %}
</head>
<body>
{% block menu %}
<div class="menu">
    <a href="{% url 'home' %}">Главная страница</a>
    <a href="{% url 'foot' %}">Футбол</a>
    <a href="">Баскетбол</a>
    <a href="">Теннис</a>

</div>
{% endblock menu %}
{% block content %}
    <div class="mainpic">
        <img src="{% static 'img/main.jpg' %}" alt="" >
    </div>

{% endblock content %}
</body>
</html>